.naiden-torrents {
	font-size: 24px;
	margin: 15px;
	color: rgb(202, 0, 0);
}
.load-torrent {
	background: rgb(63, 179, 68);
}
.load-torrent i {
	font-size: 100px;
}
.notorka {
	text-align: center;
	padding: 15px 10px;
	background: rgb(233, 81, 81);
	color: #fff;
}
.notorka .ntr1 {
	font-size: 25px;
	padding-bottom: 5px;
}
.restable {
	width: 100%;
	border-spacing: 0px;
}
.restable thead tr {
	cursor: pointer;
	background: #353A40;
	color: #FFBC45;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.66);
	line-height: 25px;
}
.restable thead tr th {
	font-weight: bold;
	font-family: sans-serif, arial;
	text-align: center;
	padding: 6px 0;
	/*width: 100px;*/
}
.restable thead tr th.headerSortUp,
.restable thead tr th.headerSortDown {
	background: rgba(0, 0, 0, 0.5);
}
.restable thead tr th > span {
	background: url(../images/nosorted.gif) -5px 50% rgba(255, 255, 255, 0.49) no-repeat;
	padding-left: 3px;
	margin-left: 5px;
	border-radius: 5px;
}
.restable tbody tr:nth-child(2n) {
	background-color: rgba(102, 102, 102, 0.04);
}
.restable tbody tr {
	color: #444;
	text-shadow: 0px 1px 0px white;
}
.restable tbody tr:hover {
	background-color: rgba(15, 33, 255, 0.05);
}
.restable tbody tr td {
	text-align: center;
	padding: 8px 10px;
	vertical-align: middle;
	color: #333333;
	font-size: 12px;
	max-width: 950px;
	line-height: 20px;
}
.restable tbody tr .namtoreka {
	padding-left: 15px;
	text-align: left;
}
.restable tbody tr .sizepiza {
	text-align: right;
	font-weight: bold;
}
.restable tbody tr .sirazd,
.restable tbody tr .sikach {
	padding: 3px;
	font-weight: bold;
}
.restable tbody tr .sirazd {
	color: #008000;
	background-color: rgba(0, 128, 0, 0.05);
}
.restable tbody tr .sikach {
	color: #8B0000;
	background-color: rgba(255, 0, 0, 0.05);
}
#pselect {
	display: inline;
	padding: 5px 12px;
	background: #ebebeb;
	border-bottom: 1px solid rgba(0, 0, 0, 0.251);
	cursor: pointer;
	border-radius: 5px;
	color: #808080;
	text-shadow: white 0px 1px 2px;
	margin: 3px;
	font-size: 15px;
}
#pselect.active,
#pselect:hover {
	background: #97d234 !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.251);
	text-shadow: 1px 1px 2px black;
	color: #fff !important;
}
.restable .bbs {
	margin-right: 15px;
	text-shadow: 1px 1px 1px #FCFCFC;
	font-family: tahoma, arial;
	font-size: 12px;
}
.restable a {
	color: #5A5A5A;
}
.restable a:hover {
	color: #F00;
}
/* Stat-downl */

.tupravo {
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
	box-shadow: 0 7px 13px -12px #282828;
}
.tupravo a {
	border-bottom: 1px solid #428BCA;
}
.tupravo a:hover {
	text-decoration: none;
	color: #00ABF0;
	border-bottom: 1px solid #00ABF0;
}
.dwnl-osn {
	display: table;
	margin: 0 auto;
	box-shadow: 7px 0 13px -12px #282828, -7px 0 13px -12px #282828;
	padding: 20px 0;
}
.dwnl-osn .dwnl-left {
	width: 700px;
	display: table-cell;
	vertical-align: top;
	padding: 0 20px;
}
.dwnl-osn .dwnl-right {
	width: 300px;
	display: table-cell;
	vertical-align: top;
	padding: 0 20px;
}
.dwnl-osn .dwnl-tit {
	padding: 10px 0 20px;
	font-size: 26px;
	border-bottom: 1px solid rgb(215, 215, 215);
	margin-bottom: 20px;
}
.dwnl-osn .dwnl-icoski {
	font-size: 22px;
	padding-bottom: 10px;
	border-bottom: 1px dashed rgb(182, 182, 182);
}
.dwnl-ggew {
	text-align: center;
	width: 33.33%;
	float: left;
	vertical-align: top;
	padding: 0 15px;
}
.dwnl-ggew i {
	font-size: 120px;
	display: block;
	margin-bottom: -5px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.42);
}
.dwnl-osn .dwnl-resultik {
	font-size: 20px;
	font-weight: bold;
	font-family: verdana, arial;
	padding: 10px 0;
}
.dwnl-osn .dwnl-razdach i {
	color: #00ABF0;
}
.dwnl-osn .dwnl-kach i {
	color: #65C865;
}
.dwnl-osn .dwnl-razmerka i {
	color: #F6D21E;
}
.ring-av-vd {
	font-weight: bold;
	font-size: 15px;
	padding: 5px 10px;
}
.ring-av-vd span {
	font-weight: normal;
	font-size: 13px;
	margin-left: 5px;
}
.ring-av-vd.vdd {
	border-bottom: 1px solid #D7D7D7;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.dwnl-timers {
	color: #333;
	text-align: center;
	padding: 10px 0;
	background: #fff;
	border: black;
	margin-top: 20px;
	box-shadow: 0 -2px 6px -5px #888888, 0 3px 6px -5px #888888;
	border-radius: 4px;
	font-size: 16px;
	font-family: verdana, arial;
}
.dwnl-timers .naraz {
	color: #DF1B1B;
}
.dwnl-timers #countdown {
	background: url(../images/timer.gif) no-repeat;
	display: inline-block;
	height: 70px;
	width: 70px;
	vertical-align: middle;
	padding: 22px 0px;
	font-size: 18px;
}
/* Форма поиска 2 
-------------------------------------- */

.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
.form-wrapper-tor {
	width: 580px;
	padding: 15px;
	margin: 1px auto 25px auto;
	background: #444;
	background: rgba(0, 0, 0, .2);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
.form-wrapper-tor input {
	width: 440px;
	height: 40px;
	padding: 0 5px;
	float: left;
	font: bold 15px'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #eee;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.form-wrapper-tor input:focus {
	outline: 0;
	background: #fff;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}
.form-wrapper-tor input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
.form-wrapper-tor input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
.form-wrapper-tor input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
.form-wrapper-tor button {
	position: relative;
	float: right;
	border: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	font: bold 15px/40px'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background: #363B41;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
.form-wrapper-tor button:hover {
	opacity: 0.8;
}
.form-wrapper-tor button:before {
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #363B41 transparent;
	top: 12px;
	left: -8px;
}
.form-wrapper-tor button::-moz-focus-inner {
	border: 0;
	padding: 0;
}